<h3 class="card-header">Forgot Password</h3>
<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      @if (submitted && f.email.errors) {
        <div class="invalid-feedback">
          @if (f.email.errors.required) {
            <div>Email is required</div>
          }
          @if (f.email.errors.email) {
            <div>Email is invalid</div>
          }
        </div>
      }
    </div>
    <div class="mb-3">
      <button [disabled]="loading" class="btn btn-primary">
        @if (loading) {
          <span class="spinner-border spinner-border-sm me-1"></span>
        }
        Submit
      </button>
    </div>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </form>
</div>